body{

}



.navbar {
	height: 40px;
}

.button h2{
	font-size:18px;
	display: inline-block;
	vertical-align: middle;
}
.nav-elements-container{
	float: right;
}

.nav-elements-container .button{
	font-size: 18px;
	text-align: center;
	width: 75px;
	display: inline-block;
	line-height: 20px;
	height: 20px;
	vertical-align: middle;
}

.google-main-display{
	margin: 120px auto 10px auto;
  	width: 272px;
  	display: block;
}


.main-content{
	height: 100%;
	width: 100%;
}


.search-container {
	margin: 30px auto;
	width: 540px;
}

.search-container input{
	padding: 2px;
}

.search-container .search-bar{
	font-size: 18px;
	line-height: 24px;
	width: 540px;
	padding-left: 6px;
	border: 1px solid gray;
}

.search-button-container {
	text-align: center;
	line-height: 34px;
}

.search-button-container .search-submit{
	font-size: 24px;
	width: 150px;
	padding-top: 20px;
	display: inline-block;
}


.search-button-container .search-random{
	font-size: 24px;
	width: 150px;
	padding-top: 20px;
	display: inline-block;
}

.footer-container{
	padding-top: 360px;
}

.footer-container .fc-left{
	float:left;
}

.footer-container .fc-right{
	float:right;
}

.fc-left .button{
	font-size: 14px;
	text-align: center;
	width: 95px;
	padding: 2px;
	display: inline-block;
	line-height: 30px;
	height: 30px;
}

.fc-right .button{
	font-size: 14px;
	text-align: center;
	width: 95px;
	padding: 2px;
	display: inline-block;
	line-height: 30px;
	height: 30px;
}





















